
<form #editForm>
 
 <div class="row">
   <div class="col-md-5 offset-md-3">

    <div class="form-group">
    <label class="form-control">Task Name</label>
    <input class="form-control" type="text">
    </div>
    <div class="form-group">
        <label class="form-control">Task Description</label>
        <input class="form-control" type="text">
        </div>
   <div class="form-group">
   <label class="form-control">Estimated Task Time</label>
  <input class="form-control" type="date">
  </div>
   <div class="form-group">
   <label class="form-control">Task Name</label>
  <input class="form-control" type="text">
  </div>

  <div class="form-group">
      <label class="form-control">Date Started</label>
     <input class="form-control" type="date">
     </div>

     <div class="form-group">
        <label class="form-control">Date Finished</label>
       <input class="form-control" type="date">
       </div>

       <div class="form-group">
          <label class="form-control">Comment</label>
         <input class="form-control" type="text">
         </div>
                           
  </div>

 </div> 

</form>